{% extends 'base.html.twig' %}
{% block body%}

    {% if app.session.flashBag is defined and app.session.flashBag.has("success") %}
        {% for message in app.session.flashBag.get("success") %}
            <div class="alert alert-success">
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag is defined and app.session.flashBag.has("error") %}
        {% for message in app.session.flashBag.get("error") %}
            <div class="alert alert-danger">
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    <table>
        <thead>
            <tr>
                <th>ID</th>

                <th>Fecha</th>

                <th>Local</th>

                <th>Gol local</th>

                <th>Gol Visitante</th>

                <th>Visitante</th>
            </tr>
        </thead>

        <tbody>
            {% if matchs is defined %}
                {% for match in matchs %}
                    <tr>
                        <td>{{ match.id is defined ? match.id }}</td>

                        <td>{{ match.datematch is defined ? match.datematch|date('Y-m-d H:i:s') }}</td>

                        <td>{{ match.home.name is defined ? match.home.name }}</td>

                        <td>{{ match.goalsHome is null ? "-" : match.goalsHome }}</td>

                        <td>{{ match.goalsVisitor is null ? "-" : match.goalsVisitor }}</td>

                        <td>{{ match.visitor.name is defined ? match.visitor.name }}</td>

                        <td>
                            <a
                                href="{{ path("match_edit", {id: match.id is defined ? match.id}) }}"
                                class="btn btn-primary"
                            >
                                Editar
                            </a>

                            <a
                                href="{{ path("match_delete", {id: match.id is defined ? match.id}) }}"
                                class="btn btn-danger"
                                onclick="return confirm('¿Estás seguro de que deseas eliminar este partido?')"
                            >
                                Borrar
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <br>
    <br>


    <table>
        <thead>
            <tr>
                <th>Posicion</th>
                <th>Equipo</th>
                <th>Puntos</th>
                <th>PJ</th>
                <th>PG</th>
                <th>PE</th>
                <th>PP</th>
                <th>GF</th>
                <th>GC</th>
            </tr>
        </thead>

        <tbody>
            {% set i = 0 %}
            {% if fixture is defined %}
                {% for team in fixture %}
                    {% set i = i + 1 %}

                    <tr>
                        <td>{{ i }}</td>

                        <td>{{ team.team  is defined ? team.team }}</td>

                        <td>{{ team.point is defined ? team.point }}</td>

                        <td>{{ team.pj    is defined ? team.pj }}</td>

                        <td>{{ team.win   is defined ? team.win }}</td>

                        <td>{{ team.tie   is defined ? team.tie }}</td>

                        <td>{{ team.lost  is defined ? team.lost }}</td>

                        <td>{{ team.gf    is defined ? team.gf }}</td>

                        <td>{{ team.gc    is defined ? team.gc }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>

    <br>

    <br>

    <a href="{{ path("team_create") }}">Inicio</a>
{% endblock %}
