{% extends "base.html.twig" %}

{% block body %}
    <h2>{{ edit ? "EDITAR PARTIDO" : "CARGAR PARTIDO" }}</h2>

    {% if app.session.flashBag is defined and app.session.flashBag.has("success") %}
        {% for message in app.session.flashBag.get("success") %}
            <div class="alert alert-success">
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    {% if app.session.flashBag is defined and app.session.flashBag.has("error") %}
        {% for message in app.session.flashBag.get("error") %}
            <div class="alert alert-danger">
                <b>{{ message }}</b>
            </div>
        {% endfor %}
    {% endif %}

    {% if form is defined %}
        {{
            form_start(
                form,
                {
                    action: "",
                    method: "POST"
                }
            )
        }}
            {{ form_widget(form) }}

            <button type="submit">{{ edit ? "Editar" : "Crear" }}</button>
        {{ form_end(form) }}
    {% endif %}

    <a href="{{ path("match_fixture") }}">Ver tabla posiciones</a>
{% endblock %}
